### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

## Player Count

* Display the total number of players

In [ ]:
#Create and assign list of unique Heroes
player_count = purchase_data.groupby(['SN']).size().reset_index(name='count')

In [ ]:
#Assign total count of Heroes
total_players = len(player_count)

In [ ]:
#Add the total to a Dataframe
player_df = pd.DataFrame({'Total Players': [total_players]})

In [ ]:
#Display Dataframe
show = player_df.set_index('Total Players')
show

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Create and Assign list of unique items and prices
unique_items = purchase_data.groupby(['Item Name','Price']).size().reset_index(name='Total Purchases')

In [ ]:
#Assign total number of items
total_items = len(unique_items['Item Name'])

In [ ]:
#Assign the average price for all unique items
average_price = round(np.mean(unique_items['Price']),2)

In [ ]:
#Assign the total amount of purches
total_purchases = len(purchase_data)

In [ ]:
#Aggregate and assign the sum of the items sold
total_rev = np.sum(purchase_data['Price'])

In [ ]:
#Create dataframe and assign variables
summary_frame = pd.DataFrame({
                    'Total Players': [total_players],'Total Items': [total_items],
                    'Average Price': [str('$')+str(average_price)],'Total Purchases': [total_purchases],
                    'Total Revenue': [str('$')+str(total_rev)]
                            })
#Display Dataframe
summary_frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
#Create grouped dataframe on Gender
group_gender = purchase_data.groupby(['Gender']).size().reset_index(name='Count of Gender')

In [ ]:
#Create index of table to Gender
index = group_gender.set_index('Gender')

In [ ]:
#Assign Totals for each gender to a variable
count_m = index.loc['Male','Count of Gender']
count_f = index.loc['Female','Count of Gender']
count_o = index.loc['Other / Non-Disclosed', 'Count of Gender']

In [ ]:
#Calculate the total and percentages of each gender
total_gender = int(count_m)+int(count_f)+int(count_o)
percent_m = str(round((int(count_m)/total_gender)*100,2))+str('%')
percent_f = str(round((int(count_f)/total_gender)*100,2))+str('%')
percent_o = str(round((int(count_o)/total_gender)*100,2))+str('%')

In [ ]:
#Create a dataframe of the percentages
percent_df = pd.DataFrame({'Percent of Gender':[percent_f,percent_m,percent_o]})

In [ ]:
#Add the dataframe to grouped by data
group_gender['Percent of Gender'] = percent_df
#print final 
group_gender


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#set index
gender_purchase = purchase_data.set_index('Gender')

In [ ]:
#Total Value Assignment and calculation
total_male_price = str('$')+str(np.sum(gender_purchase.loc['Male','Price']))
total_female_price = str('$')+str(np.sum(gender_purchase.loc['Female','Price']))
total_other = str('$')+str(np.sum(gender_purchase.loc['Other / Non-Disclosed','Price']))

In [ ]:
#Overall Average Assignment and Calculation
avg_male_price = str('$')+str(round(np.mean(gender_purchase.loc['Male','Price']),3))
avg_female_price = str('$')+str(round(np.mean(gender_purchase.loc['Female','Price']),3))
avg_other = str('$')+str(round(np.mean(gender_purchase.loc['Other / Non-Disclosed','Price']),3))

In [ ]:
#average by person, by gender variable assignment and calculation
total_by_person =  purchase_data.groupby(['SN']).sum()
total_bp = total_by_person.drop(columns=['Purchase ID','Age','Item ID'])
gendersn = purchase_data[['SN','Gender']]
merge_table = pd.merge(gendersn, total_bp, on="SN")
fix_merge = merge_table.groupby(['SN','Price','Gender']).size().reset_index(name='SN Count')
fix_table = fix_merge.drop(columns=['SN Count'])

In [ ]:
#Aggregate Data
by_gender_final = fix_table.set_index('Gender')
ttl_avg_male_price = str('$')+str(round(np.mean(by_gender_final.loc['Male','Price']),2))
ttl_avg_female_price = str('$')+str(round(np.mean(by_gender_final.loc['Female','Price']),2))
ttl_avg_other = str('$')+str(round(np.mean(by_gender_final.loc['Other / Non-Disclosed','Price']),2))

In [ ]:
#create totals dataframe
purchase_g_df = pd.DataFrame({'Total Prices by Gender': [total_female_price,total_male_price,total_other]})
#create averages dataframe
purchase_e_df = pd.DataFrame({'Average Prices by Gender': [avg_female_price,avg_male_price,avg_other]})
#Create total average by person DataFrame
ttl_avg = pd.DataFrame({'Average by Person':[ttl_avg_female_price,ttl_avg_male_price,ttl_avg_other]})

In [ ]:
#add dataframes to gender index
group_gender['Total Value'] = purchase_g_df
group_gender['Average Price'] = purchase_e_df
group_gender['Average Price by Person'] = ttl_avg

In [ ]:
#modify dataframe columns for display
group_gender_final = group_gender[['Gender','Count of Gender','Average Price','Total Value','Average Price by Person']]
group_gender_final.columns = ['Gender','Total Purchases', 'Average Price Overall', 'Total Value','Average Price by Person']

#print dataframe
group_gender_final

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#binning, labeling and cutting
bins = [10,14,19,24,29,34,39,44,49]
group_names = ['10-14', '15-19', '20-24', '25-29', '30-34','35-39','40-44','45-49']
purchase_data['Age Range']=pd.cut(purchase_data["Age"], [10,14,19,24,29,34,39,44,49], labels=group_names)

In [ ]:
#Group Data, Set Total Purchases
PrDf = purchase_data.groupby(['Age Range']).size().reset_index(name='Total Purchases')
#Create index of table to Gender
index2 = PrDf.set_index('Age Range')
#Assign Totals for each gender to a variable
count_1014 = index2.loc['10-14','Total Purchases']
count_1519 = index2.loc['15-19','Total Purchases']
count_2024 = index2.loc['20-24','Total Purchases']
count_2529 = index2.loc['25-29','Total Purchases']
count_3034 = index2.loc['30-34','Total Purchases']
count_3539 = index2.loc['35-39','Total Purchases']
count_4044 = index2.loc['40-44','Total Purchases']
count_4549 = index2.loc['45-49','Total Purchases']

In [ ]:
#Calculate the total and percentages of each gender
total_pur = count_1014+count_1519+count_2024+count_3034+count_3539+count_4044+count_4549
percent_1014 = str(round((float(count_1014)/total_pur)*100,2))+str('%')
percent_1519 = str(round((float(count_1519)/total_pur)*100,2))+str('%')
percent_2024 = str(round((float(count_2024)/total_pur)*100,2))+str('%')
percent_2529 = str(round((float(count_2529)/total_pur)*100,2))+str('%')
percent_3034 = str(round((float(count_3034)/total_pur)*100,2))+str('%')
percent_3539 = str(round((float(count_3539)/total_pur)*100,2))+str('%')
percent_4044 = str(round((float(count_4044)/total_pur)*100,2))+str('%')
percent_4549 = str(round((float(count_4549)/total_pur)*100,2))+str('%')

ttl_age = pd.DataFrame({'Precent of Age':[percent_1014,percent_1519,percent_2024,percent_2529,
                                                   percent_3034,percent_3539,percent_4044,percent_4549]})

PrDf['Percent of Total Age Range'] = ttl_age
PrDf

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#binning, labeling and cutting
bins2 = [10,14,19,24,29,34,39,44,49]
group_names2 = ['10-14', '15-19', '20-24', '25-29', '30-34','35-39','40-44','45-49']
purchase_data['Age Range']=pd.cut(purchase_data["Age"], [10,14,19,24,29,34,39,44,49], labels=group_names)

In [ ]:
#averages calc
age_purchase_grp = purchase_data.groupby(['Age Range']).size().reset_index(name='Total Purchases')
age_avgtotal = purchase_data.set_index(['Age Range'])
age_fix0 = str('$')+str(round(np.mean(age_avgtotal.loc['10-14','Price']),2))
age_fix1 = str('$')+str(round(np.mean(age_avgtotal.loc['15-19','Price']),2))
age_fix2 = str('$')+str(round(np.mean(age_avgtotal.loc['20-24','Price']),2))
age_fix3 = str('$')+str(round(np.mean(age_avgtotal.loc['25-29','Price']),2))
age_fix4 = str('$')+str(round(np.mean(age_avgtotal.loc['30-34','Price']),2))
age_fix5 = str('$')+str(round(np.mean(age_avgtotal.loc['35-39','Price']),2))
age_fix6 = str('$')+str(round(np.mean(age_avgtotal.loc['40-44','Price']),2))
age_fix7 = str('$')+str(round((age_avgtotal.loc['45-49','Price']),2))

In [ ]:
#totals calc
age_ttl0 = str('$')+str(round(np.sum(age_avgtotal.loc['10-14','Price']),2))
age_ttl1 = str('$')+str(round(np.sum(age_avgtotal.loc['15-19','Price']),2))
age_ttl2 = str('$')+str(round(np.sum(age_avgtotal.loc['20-24','Price']),2))
age_ttl3 = str('$')+str(round(np.sum(age_avgtotal.loc['25-29','Price']),2))
age_ttl4 = str('$')+str(round(np.sum(age_avgtotal.loc['30-34','Price']),2))
age_ttl5 = str('$')+str(round(np.sum(age_avgtotal.loc['35-39','Price']),2))
age_ttl6 = str('$')+str(round(np.sum(age_avgtotal.loc['40-44','Price']),2))
age_ttl7 = str('$')+str(round((age_avgtotal.loc['45-49','Price']),2))

In [ ]:
#average by person, by age range variable assignment and calculation
#remember these from above----total_by_person =  purchase_data.groupby(['SN']).sum()
#remember these from above----total_bp = total_by_person.drop(columns=['Purchase ID','Age','Item ID'])
gendersn2 = purchase_data[['SN','Age Range']]
merge_table2 = pd.merge(gendersn2, total_bp, on="SN")
fix_merge2 = merge_table2.groupby(['SN','Price','Age Range']).size().reset_index(name='SN Count')
fix_table2 = fix_merge2.drop(columns=['SN Count'])
done = fix_table2.set_index('Age Range')
age_0 = str('$')+str(round(np.mean(done.loc['10-14','Price']),2))
age_1 = str('$')+str(round(np.mean(done.loc['15-19','Price']),2))
age_2 = str('$')+str(round(np.mean(done.loc['20-24','Price']),2))
age_3 = str('$')+str(round(np.mean(done.loc['25-29','Price']),2))
age_4 = str('$')+str(round(np.mean(done.loc['30-34','Price']),2))
age_5 = str('$')+str(round(np.mean(done.loc['35-39','Price']),2))
age_6 = str('$')+str(round(np.mean(done.loc['40-44','Price']),2))
age_7 = str('$')+str(round((done.loc['45-49','Price']),2))

In [ ]:
#creating staging dataframes
age_oap_df = pd.DataFrame({'Overall Average Price': [age_fix0,age_fix1,age_fix2,age_fix3,age_fix4,age_fix5,age_fix6,age_fix7]})
age_totalvalue_df = pd.DataFrame({'Total Value':[age_ttl0,age_ttl1,age_ttl2,age_ttl3,age_ttl4,age_ttl5,age_ttl6,age_ttl7]})
age_aap_df = pd.DataFrame({'Average Price per Person': [age_0,age_1,age_2,age_3,age_4,age_5,age_6,age_7]})

In [ ]:
#adding columns to final dataframe
age_purchase_grp['Overall Average Price'] = age_oap_df
age_purchase_grp['Total Value']=age_totalvalue_df
age_purchase_grp['Average Price per Person']=age_aap_df

In [ ]:
#print dataframe
age_purchase_grp

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
PrDf2 = purchase_data.groupby(['SN']).size().reset_index(name='Total Purchases')
sort_count = PrDf2.sort_values(by='Total Purchases', ascending=False).reset_index()
org_sortcount = sort_count.drop(columns=['index'])
top5 = org_sortcount.head()
PrDf2 = top5.set_index('SN')

num1 = total_bp.loc['Lisosia93','Price']
num2 = total_bp.loc['Iral74','Price']
num3 = total_bp.loc['Idastidru52','Price']
num4 = total_bp.loc['Asur53','Price']
num5 = total_bp.loc['Inguron55','Price']

num6 = PrDf2.loc['Lisosia93','Total Purchases']
num7 = PrDf2.loc['Iral74','Total Purchases']
num8 = PrDf2.loc['Idastidru52','Total Purchases']
num9 = PrDf2.loc['Asur53','Total Purchases']
num10 = PrDf2.loc['Inguron55','Total Purchases']

num11=str('$')+str(round(num1/num6,2))
num12=str('$')+str(round(num2/num7,2))
num13=str('$')+str(round(num3/num8,2))
num14=str('$')+str(round(num4/num9,2))
num15=str('$')+str(round(num5/num10,2))


num_df0=top5
num_df = pd.DataFrame({'Average Purchase Price':[num11,(num12),num13,num14,num15]})
num_df2 = pd.DataFrame({'Total Purchase Value':[str('$')+str(round(num1,2)),str('$')+str(round(num2,2)),
                                                str('$')+str(round(num3,2)),str('$')+str(round(num4,2)),
                                                str('$')+str(round(num5,2))]})

num_df0['All Purchases Average']=num_df
num_df0['Total Purchase Value']=num_df2
num_df0

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
super_items = purchase_data[['Item ID','Item Name','Price']]
group_items = super_items.groupby(['Item ID','Item Name','Price']).size().reset_index(name='Total Purchases')
sorted_items = group_items.sort_values(by='Total Purchases',ascending=False).reset_index()
sorted_items = sorted_items.drop(columns=['index'])
prr = sorted_items[['Price']]
tpv1 = sorted_items[['Total Purchases']]
tpv2 = round(prr.iloc[0,0]*tpv1.iloc[0,0],2)
tpv3 = round(prr.iloc[1,0]*tpv1.iloc[1,0],2)
tpv4 = round(prr.iloc[2,0]*tpv1.iloc[2,0],2)
tpv5 = round(prr.iloc[3,0]*tpv1.iloc[3,0],2)
tpv6 = round(prr.iloc[4,0]*tpv1.iloc[4,0],2)

tpv_df = pd.DataFrame({'Total Value':[tpv2,tpv3,tpv4,tpv5,tpv6]})
sorted_items['Total Purchase Value'] = tpv_df
sorted_items.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
sorted_items=sorted_items.sort_values(by='Total Purchase Value',ascending=False).reset_index()
sorted_items = sorted_items.drop(columns=['index'])
sorted_items.head()